<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459231180911-58r5kmnpj77hig84ic3kalle22mgfso0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459231180911-58r5kmnpj77hig84ic3kalle22mgfso0</string>
	<key>API_KEY</key>
	<string>AIzaSyB6B8KJKJWAkfyAKPotkeDVia0YNIe6xYo</string>
	<key>GCM_SENDER_ID</key>
	<string>459231180911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danpham.animetracker</string>
	<key>PROJECT_ID</key>
	<string>animetracker-54ee3</string>
	<key>STORAGE_BUCKET</key>
	<string>animetracker-54ee3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459231180911:ios:209e155420a1ad57</string>
	<key>DATABASE_URL</key>
	<string>https://animetracker-54ee3.firebaseio.com</string>
</dict>
</plist>